<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>Emeet</title>
    <meta name="description" content="Responsive EventHunt HTML Template"/>
    <meta name="keywords" content="Bootstrap3, Event,  Conference, Meetup, Template, Responsive, HTML5"/>
    <meta name="author" content="themearth.com"/>

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@yourtwitterusername"/>
    <meta name="twitter:creator" content="@yourtwitterusername"/>
    <meta name="twitter:url" content="http://yourdomain.com"/>
    <meta name="twitter:title" content="Your home page title, max 140 char"/>
    <!-- maximum 140 char -->
    <meta name="twitter:description" content="Your site description, maximum 140 char "/>
    <!-- maximum 140 char -->
    <meta name="twitter:image" content="assets/img/twittercardimg/twittercard-280-150.jpg"/>
    <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Your home page title"/>
    <meta property="og:url" content="http://your domain here.com"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="Your site name here"/>
    <!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="assets/img/opengraph/fbphoto.jpg"/>
    <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- this icon shows in browser toolbar -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/manifest.json">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="assets/libs/bootstrap/css/bootstrap.min.css" media="all"/>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="assets/libs/fontawesome/css/font-awesome.min.css" media="all"/>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="assets/libs/maginificpopup/magnific-popup.css" media="all"/>

    <!-- Time Circle -->
    <link rel="stylesheet" href="assets/libs/timer/TimeCircles.css" media="all"/>

    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="assets/libs/owlcarousel/owl.carousel.min.css" media="all" />
    <link rel="stylesheet" href="assets/libs/owlcarousel/owl.theme.default.min.css" media="all" />

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:400,700%7CRaleway:300,400,400i,500,600,700,900"/>

    <!-- MASTER  STYLESHEET  -->
    <link id="lgx-master-style" rel="stylesheet" href="assets/css/style-default.min.css" media="all"/>

    <!-- MODERNIZER CSS  -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="home">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="lgx-container ">
<!-- ***  ADD YOUR SITE CONTENT HERE *** -->


<!--HEADER-->
<header>
    <div id="lgx-header" class="lgx-header">
        <div class="lgx-header-position lgx-header-position-white lgx-header-position-fixed "> <!--lgx-header-position-fixed lgx-header-position-white lgx-header-fixed-container lgx-header-fixed-container-gap lgx-header-position-white-->
            <div class="lgx-container"> <!--lgx-container-fluid-->
                <nav class="navbar navbar-default lgx-navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="lgx-logo">
                            <a href="index.html" class="lgx-scroll">
                                <img src="assets/img/logo.png" alt="Eventhunt Logo"/>
                            </a>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <div class="lgx-nav-right navbar-right">
                            <div class="lgx-cart-area">
                                <a class="lgx-btn lgx-btn-red" href="registration.html#">Buy Ticket</a>
                            </div>
                        </div>
                        <ul class="nav navbar-nav lgx-nav navbar-right">
                            <li>
                                <a href="index.html" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="index.html">Home (Default)</a></li>
                                    <li><a href="index2.html">Box Layout</a></li>
                                    <li><a href="index3.html">Home Parallax</a></li>
                                    <li><a href="index4.html">Home Four</a></li>
                                    <li><a href="index5.html">Home Typed</a></li>
                                    <li><a href="index6.html">Home Six</a></li>
                                    <li><a href="index7.html">Home Seven</a></li>
                                    <li><a href="index8.html">Home Eight</a></li>
                                    <li><a href="index9.html">Home Registration</a></li>
                                    <li><a href="index10.html">Home Registration2</a></li>
                                    <li><a href="index11.html">Home Eleven</a></li>
                                    <li><a href="index12.html">Home Twelve</a></li>
                                    <li><a href="index13.html">Home Slider</a></li>
                                    <li><a href="index14.html">Home Slider2</a></li>
                                    <li><a href="index15.html">Home Music</a></li>
                                    <li><a href="index16.html">Home Sixteen</a></li>
                                    <li><a href="index17.html">Home Christmas</a></li>
                                    <li><a href="index18.html">Home Comingsoon</a></li>
                                </ul>
                            <li>
                            <li>
                                <a href="index.html" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="schedules.html">Schedule</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="registration.html#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Speakers <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="speakers.html">Speakers List</a></li>
                                            <li><a href="speaker.html">Speaker Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="sponsors.html">Sponsors List</a></li>
                                    <li><a href="registration.html">Registration</a></li>
                                    <li><a href="gallery.html">Photo Gallery</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="registration.html#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="news.html">News</a></li>
                                            <li><a href="news-single.html">News Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="registration.html#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="registration.html#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown Two<span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="registration.html#">Dropdown Three</a></li>
                                                    <li><a href="registration.html#">Dropdown Three</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="registration.html#">Dropdown Two</a></li>
                                            <li><a href="registration.html#">Dropdown Two</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="lgx-scroll" href="registration.html#lgx-speakers">Speaker</a></li>
                            <li><a class="lgx-scroll" href="registration.html#lgx-schedule">Schedule</a></li>
                            <li><a class="lgx-scroll" href="registration.html#lgx-sponsors">Sponsors</a></li>
                            <li><a class="lgx-scroll" href="registration.html#lgx-news">News</a></li>
                            <li><a class="lgx-scroll" href="contact.html">Contact</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </nav>
            </div>
            <!-- //.CONTAINER -->
        </div>
    </div>
</header>
<!--HEADER END-->



    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Registration</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">Registration</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper lgx-page-wrapper-none">

            <!--REGISTRATION-->

            <section>
                <div id="lgx-registration" class="lgx-registration lgx-registration2 lgx-registration-christmas"> <!--lgx-registration2 lgx-registration3 lgx-registration4-->
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-registration-area"> <!--lgx-registration-area2 lgx-registration-area3 "-->
                                        <div class="lgx-single-registration-christmas">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Personal</h3>
                                                    <h4 class="price"><i>$</i>59<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration-christmas recommended">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Business</h3>
                                                    <h4 class="price"><i>$</i>89<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration-christmas">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Premium</h3>
                                                    <h4 class="price"><i>$</i>99<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>
            <!--REGISTRATION END-->
            <div class="lgx-speacialgap-area"></div>

            <section>
                <div class="lgx-registration lgx-registration3">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-registration-area lgx-registration-area3">
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Personal</h3>
                                                    <h4 class="price"><i>$</i>59<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                        <li>One Workshop</li>
                                                        <li>Certificate</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration recommended">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Business</h3>
                                                    <h4 class="price"><i>$</i>89<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                        <li>One Workshop</li>
                                                        <li>Certificate</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Premium</h3>
                                                    <h4 class="price"><i>$</i>99<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                        <li>One Workshop</li>
                                                        <li>Certificate</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>

            <section>
                <div class="lgx-registration"> <!--lgx-registration2 lgx-registration3 lgx-registration4-->
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-registration-area"> <!--lgx-registration-area2 lgx-registration-area3 "-->
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Personal</h3>
                                                    <h4 class="price"><i>$</i>59<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                        <li>One Workshop</li>
                                                        <li>Certificate</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration recommended">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Business</h3>
                                                    <h4 class="price"><i>$</i>89<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                        <li>One Workshop</li>
                                                        <li>Certificate</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Premium</h3>
                                                    <h4 class="price"><i>$</i>99<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                        <li>One Workshop</li>
                                                        <li>Certificate</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>

            <section>
                <div class="lgx-registration lgx-registration4"> <!--lgx-registration2 lgx-registration3 lgx-registration4-->
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-registration-area"> <!--lgx-registration-area2 lgx-registration-area3 "-->
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Personal</h3>
                                                    <h4 class="price"><i>$</i>59<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration recommended">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Business</h3>
                                                    <h4 class="price"><i>$</i>89<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Premium</h3>
                                                    <h4 class="price"><i>$</i>99<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>

            <section>
                <div class="lgx-registration lgx-registration2">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-registration-area lgx-registration-area2">
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Personal</h3>
                                                    <h4 class="price"><i>$</i>59<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                        <li>One Workshop</li>
                                                        <li>Certificate</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration recommended">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Business</h3>
                                                    <h4 class="price"><i>$</i>89<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                        <li>One Workshop</li>
                                                        <li>Certificate</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Premium</h3>
                                                    <h4 class="price"><i>$</i>99<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                        <li>One Workshop</li>
                                                        <li>Certificate</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>

            <section>
                <div class="lgx-registration lgx-registration4"> <!--lgx-registration2 lgx-registration3 lgx-registration4-->
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-registration-area"> <!--lgx-registration-area2 lgx-registration-area3 "-->
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Personal</h3>
                                                    <h4 class="price"><i>$</i>59<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration recommended">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Business</h3>
                                                    <h4 class="price"><i>$</i>89<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Premium</h3>
                                                    <h4 class="price"><i>$</i>99<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lgx-single-registration">
                                            <div class="lgx-single-registration-inner">
                                                <div class="single-top">
                                                    <h3 class="title">Premium</h3>
                                                    <h4 class="price"><i>$</i>99<span>/Month</span></h4>
                                                </div>
                                                <div class="single-bottom">
                                                    <ul class="list-unstyled list">
                                                        <li>Unlimited Entrance</li>
                                                        <li>Comfortable Seat</li>
                                                        <li>Coffee Break</li>
                                                    </ul>
                                                    <a class="lgx-btn" href="registration.html#"><span>Buy Ticket</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>

            <!--REGISTRATION-->
            <section>
                <div class="lgx-registration-simple">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="lgx-registration-area-simple">
                                        <div class="lgx-heading lgx-heading-white">
                                            <h2 class="heading">Get Ticket Now!</h2>
                                            <h3 class="subheading">Experience the conference wherever you are. Register now for online access. Tune in live for the
                                                <br>keynotes and watch sessions on demand. Also be sure to join our event</h3>
                                        </div>
                                        <a class="lgx-btn lgx-btn-red" href="registration.html#">Registration</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>
            <!--REGISTRATION END-->

        </div>
    </main>




<!--FOOTER-->
<footer>
    <div id="lgx-footer" class="lgx-footer lgx-footer-black"> <!--lgx-footer-black-->
        <div class="lgx-inner-footer">
            <div class="lgx-subscriber-area ">
                <div class="container">
                    <div class="lgx-subscriber-inner">  <!--lgx-subscriber-inner-indiv-->
                        <h3 class="subscriber-title">Join Newsletter</h3>
                        <form class="lgx-subscribe-form" >
                            <div class="form-group form-group-email">
                                <input type="email" id="subscribe" placeholder="Enter your email Address  ..." class="form-control lgx-input-form form-control"  />
                            </div>
                            <div class="form-group form-group-submit">
                                <button type="submit" name="lgx-submit" id="lgx-submit" class="lgx-btn lgx-submit"><span>Subscribe</span></button>
                            </div>
                        </form> <!--//.SUBSCRIBE-->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="lgx-footer-area">
                    <div class="lgx-footer-single">
                        <a class="logo" href="index.html"><img src="assets/img/footer-logo.png" alt="Logo"></a>
                    </div> <!--//footer-area-->
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Venue Location </h3>
                        <h4 class="date">
                            18 - 21 December, 2019
                        </h4>
                        <address>
                            85 Golden Street, Darlinghurst <br>
                            ERP 2019, United States
                        </address>
                        <a id="myModalLabel2" data-toggle="modal" data-target="#lgx-modal-map" class="map-link" href="registration.html#"><i class="fa fa-map-marker" aria-hidden="true"></i> View Map location</a>
                    </div>
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Social Connection</h3>
                        <p class="text">
                            You should connect social area <br> for Any update
                        </p>
                        <ul class="list-inline lgx-social-footer">
                            <li><a href="registration.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="registration.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="registration.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="registration.html#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            <li><a href="registration.html#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="registration.html#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <!--<div class="lgx-footer-single">
                        <h2 class="footer-title">Instagram Feed</h2>
                        <div id="instafeed">
                        </div>
                    </div>-->
                </div>
                <!-- Modal-->
                <div id="lgx-modal-map" class="modal fade lgx-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="lgxmapcanvas map-canvas-default" id="map_canvas"> </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- //.Modal-->

                <div class="lgx-footer-bottom">
                    <div class="lgx-copyright">
                        <p> <span>©</span> 2018 EventHunt is powered by <a href="http://www.themearth.com/">themearth.</a> The property of their owners.</p>
                    </div>
                </div>

            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.footer Middle -->
    </div>
</footer>
<!--FOOTER END-->


</div>
<!--//.LGX SITE CONTAINER-->
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->
<!-- JQUERY  -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

<!-- BOOTSTRAP JS  -->
<script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>

<!-- Smooth Scroll  -->
<script src="assets/libs/jquery.smooth-scroll.js"></script>

<!-- SKILLS SCRIPT  -->
<script src="assets/libs/jquery.validate.js"></script>

<!-- if load google maps then load this api, change api key as it may expire for limit cross as this is provided with any theme -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQvRGGtL6OrpP5xVMxq_0NgiMiRhm3ycI"></script>

<!-- CUSTOM GOOGLE MAP -->
<script type="text/javascript" src="assets/libs/gmap/jquery.googlemap.js"></script>

<!-- adding magnific popup js library -->
<script type="text/javascript" src="assets/libs/maginificpopup/jquery.magnific-popup.min.js"></script>

<!-- Owl Carousel  -->
<script src="assets/libs/owlcarousel/owl.carousel.min.js"></script>

<!-- COUNTDOWN   -->
<script src="assets/libs/countdown.js"></script>
<script src="assets/libs/timer/TimeCircles.js"></script>

<!-- Counter JS -->
<script src="assets/libs/waypoints.min.js"></script>
<script src="assets/libs/counterup/jquery.counterup.min.js"></script>

<!-- SMOTH SCROLL -->
<script src="assets/libs/jquery.smooth-scroll.min.js"></script>
<script src="assets/libs/jquery.easing.min.js"></script>

<!-- type js -->
<script src="assets/libs/typed/typed.min.js"></script>

<!-- header parallax js -->
<script src="assets/libs/header-parallax.js"></script>

<!-- instafeed js -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>-->
<script src="assets/libs/instafeed.min.js"></script>

<!-- CUSTOM SCRIPT  -->
<script src="assets/js/custom.script.js"></script>

<div class="lgx-switcher-loader"></div>
<!-- For Demo Purpose Only// Remove From Live -->
<script src="switcher/js/switcher-.js"></script>
<!-- For Demo Purpose Only //Remove From Live-->


</body>
</html>
